/* pixabay-api */

body {
  padding: 0;
}

.main-container {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;  
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 371px;
}

input {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  font-size: 16px;
  gap: 8px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.first-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: #4e75ff;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.loader-container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 300px;
  top: 90%;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #FF3D00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Search pictures */

.display-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  min-height: 10px;
  width: 100%;
  justify-content: center;
}

.gallery-item {
  width: 350px;
  height: 230px;
  border: 1px solid #808080;
  border-radius: 5px;
  position: relative;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: 80%;
}

.small-container {
  display: flex;
}

.text-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
  text-align: center;
}

.image-info-title {
  margin: 0;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.image-info-value {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* btn-load-more */

.btn-container {
  width: 100%;
  padding-bottom: 30px;
}

.btn-load-more {
  display: none;
  padding: 5px 10px;
  margin: 20px auto;
  border-radius: 8px;
  border: #4e75ff;
  width: 200px;
  min-height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff; */
}

.end-of-gallery {
  display: none;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  opacity: 70%;
  padding-bottom: 30px;
}